<div class="bg-body dark:bg-darkmode-body">
  {{ $img := .Params.image }}
  {{ if $img }}
    {{ $isURL := (or (hasPrefix $img "http://") (hasPrefix $img "https://")) }}
    {{ if $isURL }}
      {{ partial "image" (dict
        "Src" $img
        "Context" .
        "Alt" .Title
        "Class" "mb-6 w-full rounded"
        "IsRemote" true
      ) }}
    {{ else }}
      {{ partial "image" (dict
        "Src" $img
        "Context" .
        "Alt" .Title
        "Class" "mb-6 w-full rounded"
        "IsRemote" false
      ) }}
    {{ end }}
  {{ end }}


  <h4 class="mb-3">
    {{ $isExternal := .Params.external }}
    {{ if $isExternal }}
    <a href="{{ .Params.external_url }}" target="_blank" rel="noopener">
      {{ .Title }}
    </a>
    {{ else }}
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
    {{ end }}
  </h4>

  {{ $categories := .Params.categories }}
  {{ if $categories }}
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <a href="{{ "authors/" | relLangURL }}{{ .Params.Author | urlize }}/">
      <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>
    </li>
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-1"></i>
      {{ range $i, $p := $categories }}
      <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">
      {{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }},{{ end }}
      </a>
      {{ end }}
    </li>
  </ul>
  {{ end }}

  <p class="mb-6">{{ .Summary | plainify | truncate 200 }}

  {{ if .Params.external }}
  <a class="text-primary dark:text-darkmode-primary hover:underline"
     href="{{ .Params.external_url }}"
     target="_blank" rel="noopener">
    {{ T "read_more" }}
  </a>
  {{ else }}
  <a class="text-primary dark:text-darkmode-primary hover:underline" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
  {{ end }}
  </p>
</div>
